.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 32px;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .container {
    padding-inline: 24px;
  }
}

@media (max-width: 576px) {
  .container {
    padding-inline: 16px;
  }
}
