.button {
  background-color: #2fd1ab;
  color: white;
  border: none;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  white-space: nowrap;
  flex-shrink: 0;
}

.text {
  font-family: "Quick-Sand";
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  white-space: nowrap;
}

.icon {
  width: 24px;
  height: 24px;
}
