.button {
  height: 40px;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  white-space: nowrap;
  flex-shrink: 0;
}

.filled {
  background-color: var(--color-teal);
  border: none;
}

.transparent {
  background-color: transparent;
  border: 1px solid var(--color-teal);
}

.text {
  font-family: var(--font-family-primary);
  font-size: var(--font-md);
  font-weight: var(--font-bold);
  line-height: var(--line-height-100);
  letter-spacing: var(--letter-spacing-0);
  color: var(--color-light);
  white-space: nowrap;
}

.icon {
  color: var(--color-light);
}
