.button {
  background-color: transparent;
  color: white;
  border: 1px solid #2fd1ab;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.text {
  font-family: "Quick-Sand";
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}
