.hero {
  min-height: 100vh;
  padding: 100px 0;
}

.layout {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 48px;
  padding-right: 0;
}

.content {
  max-width: 540px;
  width: 100%;
}

.actions {
  margin-top: 28px;
  display: flex;
  align-items: center;
  gap: 14px;
  flex-wrap: wrap;
}

.image {
  width: 100%;
  max-width: 431px;
  height: auto;
  display: block;
  justify-self: end;
  border-radius: 24px;
}
